[Unit]
Description=Run system maintenance daily

[Timer]
OnCalendar=*-*-* 00:00:00
Unit=system-maintenance.service
Persistent=true

[Install]
WantedBy=timers.target
