Package: system-maintenance
Version: 1.0
Section: admin
Priority: optional
Architecture: all
Maintainer: Kant84 <sanichxxxx@mail.ru>
Description:Automatic system maintenance (monitoring, updates, logs)
 This package installs auto-maintenance script + systemd timers.
